<a href="https://colab.research.google.com/github/Maplub/geodatasci/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL (in Python)

Powerpoint แนะนำ Database อยู่ใน mycourseville

เพื่อความง่าย แบบฝึกหัดนี้เราจะใช้ SQL ที่มีเป็น Library ใน Python อยู่แล้วในการเรียนคำสั่ง SQL แต่เวลาทำงานจริงเรามักจะลง software database ในเครื่องแล้วเขียน Python เชื่อมต่อ database ตัวนั้น ๆ (เช่น PostgreSQL จะใช้ library psycopg2 เป็นตัวเชื่อมต่อ)

ให้ copy code ต่อไปนี้เพื่อรันใน colab ของตัวเองหรือใน Jupyter Notebook ของตัวเอง

เป็นการสร้างตาราง 2 ตาราง จากตัวอย่างในเว็บ https://en.wikibooks.org/wiki/SQL_Exercises/The_computer_store

## 1.   สร้าง Database

In [5]:
# CREATING THE TABLE
import sqlite3

conn = sqlite3.connect('sqltest.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS Manufacturers (
	Code INTEGER PRIMARY KEY NOT NULL,
	Name CHAR(50) NOT NULL 
);''')

conn.execute('''
CREATE TABLE Products (
	Code INTEGER PRIMARY KEY NOT NULL,
	Name CHAR(50) NOT NULL ,
	Price REAL NOT NULL ,
	Manufacturer INTEGER NOT NULL 
		CONSTRAINT fk_Manufacturers_Code REFERENCES Manufacturers(Code));''')

conn.commit()

print("Table created successfully");

Opened database successfully
Table created successfully

keyword ที่ควรทราบ
* PRIMARY KEY คือ คอลัมน์นั้นห้ามซ้ำ
* NOT NULL คือ ห้ามว่าง
* CONSTRAINT foreign_key_name REFERENCES main_table(key_column) คือสร้าง foreign key โยงสองตารางเข้าด้วยกัน ซึ่งในที่นี้คือให้คอลัมน์ Manufacturer โยงกับ code ในตาราง Manufacturer ผลในการกำหนด foreign key คือ จะไม่อนุญาตให้ทำการเพิ่ม code อื่น ๆ ที่ไม่ได้อยู่ในตาราง Manufacturer
* commit คือการยืนยันคำสั่งก่อนหน้า เราจะสามารถ roll back กลับไปจุด commit ล่าสุดได้ ใช้กับคำสั่ง SQL ประเภท DML

In [6]:
# INSERT VALUES
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(1,'Sony');")
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(2,'Creative Labs');")
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(3,'Hewlett-Packard');")
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(4,'Iomega');")
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(5,'Fujitsu');")
conn.execute("INSERT INTO Manufacturers(Code,Name) VALUES(6,'Winchester');")

conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(1,'Hard drive',240,5);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(2,'Memory',120,6);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(3,'ZIP drive',150,4);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(4,'Floppy disk',5,6);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(5,'Monitor',240,1);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(6,'DVD drive',180,2);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(7,'CD drive',90,2);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(8,'Printer',270,3);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(9,'Toner cartridge',66,3);")
conn.execute("INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(10,'DVD burner',180,2);")

## 2.   ทดลอง query

เลือกทุกแถวทุกคอลัมน์มาจากตาราง

เราสามารถเลือกทุกคอลัมน์ได้โดยใช้เครื่องหมาย *

In [7]:
for row in conn.execute("select * from Manufacturers"):
  print(row)

(1, 'Sony')
(2, 'Creative Labs')
(3, 'Hewlett-Packard')
(4, 'Iomega')
(5, 'Fujitsu')
(6, 'Winchester')

In [8]:
for row in conn.execute("select * from Products"):
  print(row)

(1, 'Hard drive', 240.0, 5)
(2, 'Memory', 120.0, 6)
(3, 'ZIP drive', 150.0, 4)
(4, 'Floppy disk', 5.0, 6)
(5, 'Monitor', 240.0, 1)
(6, 'DVD drive', 180.0, 2)
(7, 'CD drive', 90.0, 2)
(8, 'Printer', 270.0, 3)
(9, 'Toner cartridge', 66.0, 3)
(10, 'DVD burner', 180.0, 2)

หรือจะใช้คำสั่ง fetchall() ก็ได้

In [18]:
conn.execute("SELECT * FROM Products").fetchall()

[(1, 'Hard drive', 240.0, 5),
 (2, 'Memory', 120.0, 6),
 (3, 'ZIP drive', 150.0, 4),
 (4, 'Floppy disk', 5.0, 6),
 (5, 'Monitor', 240.0, 1),
 (6, 'DVD drive', 180.0, 2),
 (7, 'CD drive', 90.0, 2),
 (8, 'Printer', 270.0, 3),
 (9, 'Toner cartridge', 66.0, 3),
 (10, 'DVD burner', 180.0, 2)]

เลือกแค่บางคอลัมน์

In [22]:
conn.execute("select name,price from products").fetchall()

[('Hard drive', 240.0),
 ('Memory', 120.0),
 ('ZIP drive', 150.0),
 ('Floppy disk', 5.0),
 ('Monitor', 240.0),
 ('DVD drive', 180.0),
 ('CD drive', 90.0),
 ('Printer', 270.0),
 ('Toner cartridge', 66.0),
 ('DVD burner', 180.0)]

ใส่เงื่อนไขเลือกแถว ใช้คำสั่ง where

In [23]:
conn.execute("select name,price from products where name='Hard drive'").fetchall()

[('Hard drive', 240.0)]

In [28]:
conn.execute("select name,price from products where name like 'Z%'").fetchall()

[('ZIP drive', 150.0)]

In [30]:
conn.execute("select name,price from products where name like '_I%'").fetchall()

[('ZIP drive', 150.0)]

In [31]:
conn.execute("select name,price from products where name is NULL").fetchall()

[]

เลือกสองตารางมาเชื่อมกัน

In [34]:
conn.execute("select p.name,p.price,p.manufacturer,m.name from products p, manufacturers m where p.manufacturer=m.code").fetchall()

[('Hard drive', 240.0, 5, 'Fujitsu'),
 ('Memory', 120.0, 6, 'Winchester'),
 ('ZIP drive', 150.0, 4, 'Iomega'),
 ('Floppy disk', 5.0, 6, 'Winchester'),
 ('Monitor', 240.0, 1, 'Sony'),
 ('DVD drive', 180.0, 2, 'Creative Labs'),
 ('CD drive', 90.0, 2, 'Creative Labs'),
 ('Printer', 270.0, 3, 'Hewlett-Packard'),
 ('Toner cartridge', 66.0, 3, 'Hewlett-Packard'),
 ('DVD burner', 180.0, 2, 'Creative Labs')]

ดูชื่อ column

In [9]:
for row in conn.execute("PRAGMA table_info(Products)"):
  print(row)

(0, 'Code', 'INTEGER', 1, None, 1)
(1, 'Name', 'CHAR(50)', 1, None, 0)
(2, 'Price', 'REAL', 1, None, 0)
(3, 'Manufacturer', 'INTEGER', 1, None, 0)

In [10]:
for row in conn.execute("PRAGMA table_info(Manufacturers)"):
  print(row)

(0, 'Code', 'INTEGER', 1, None, 1)
(1, 'Name', 'CHAR(50)', 1, None, 0)

เราสามารถสร้างตัวแปรขึ้นมา แล้วนำไปใส่ในคำสั่ง SQL ได้ ตามตัวอย่าง
การสร้างเป็นตัวแปรทำให้เราทำให้เราสามารถสร้างระบบ interactive ได้

In [11]:
n=('ZIP drive',)
for row in conn.execute("select * from Products where Name=?",n):
  print(row)

(3, 'ZIP drive', 150.0, 4)

ถ้าเราจะมีหลาย ๆ ตัวแปร ก็ต้องใช้คำสั่ง executemany

In [14]:
manus = [(7, 'Sandisk'),
         (8, 'Kingston')]
conn.executemany('INSERT INTO Manufacturers VALUES (?,?)', manus)

## 3. การใช้งานกับ pandas

นำข้อมูลที่ได้จากการ query ไปใส่ไว้ใน dataframe ของ pandas

In [16]:
import pandas as pd

In [ ]:
df = pd.read_sql_query("SELECT * from Products", conn)

เอาผลใส่ใน dataframe ทำให้พิมพ์ออกมาสวยกว่า

In [ ]:
df

   Code             Name  Price  Manufacturer
0     1       Hard drive  240.0             5
1     2           Memory  120.0             6
2     3        ZIP drive  150.0             4
3     4      Floppy disk    5.0             6
4     5          Monitor  240.0             1
5     6        DVD drive  180.0             2
6     7         CD drive   90.0             2
7     8          Printer  270.0             3
8     9  Toner cartridge   66.0             3
9    10       DVD burner  180.0             2

อ่านเพิ่มที่นี่
https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html

ถ้าจะทำย้อนกลับคือ เอาข้อมูลใน dataframe ไปใส่ใน SQLite ก็ให้ทำตามนี้

In [19]:
#ตัวอย่างจาก https://datatofish.com/create-pandas-dataframe/
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

In [20]:
df.to_sql('cars', con=conn, if_exists='append')

In [21]:
conn.execute("select * from cars").fetchall()

[(0, 'Honda Civic', 22000),
 (1, 'Toyota Corolla', 25000),
 (2, 'Ford Focus', 27000),
 (3, 'Audi A4', 35000)]

## 4. ประเภทของคำสั่ง SQL

*   DDL(Data Definition Language) คำสั่งจัดการโครงสร้างตาราง เช่น เพิ่ม/ลด คอลัมน์ เปลี่ยนชื่อตาราง
*   DQL (Data Query Language) คำสั่ง select
*   DML(Data Manipulation Language) คำสั่งเพิ่ม ลด แก้ไข ข้อมูลในตาราง
*   DCL(Data Control Language) คำสั่งให้สิทธิ์หรือถอนสิทธิผู้ใช้งาน
*   TCL(transaction Control Language) คำสังจัดการ transaction เช่นการ commit/rollback

https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/

<font color="pink">การใช้คำสั่ง SQL ในภาษาใด ๆ จะต้องสร้าง SQL เป็น String ก่อนแล้วใช้คำสั่งของโปรแกรมนั้น ๆ run คำสั่ง SQL ซึ่งมันก็จะดูยุ่ง ๆ หน่อย </font>

<font color="pink">หากเราไม่ต้องการจะวุ่นวาย เราสามารถใช้ software ที่เป็นตัว GUI จัดการฐานข้อมูลได้ อย่างเช่น</font> https://www.toadworld.com/downloads <font color="pink">หรือตัวอื่น ๆ ได้ ซึ่งการใช้ Graphic User Interface (GUI) จะทำให้เราสามารถพิมพ์แค่คำสั่ง SQL ในช่องแล้วสั่ง run ได้เลย</font>

# <font color="red">การบ้าน (15 คะแนน) </font>

<font color="red">ให้ออกแบบฐานข้อมูลสำหรับเก็บข้อมูลฝุ่นละอองและอุณหภูมิจากเซ็นเซอร์ 5 ตัว
โดยเซ็นเซอร์ทุกตัวจะเก็บข้อมูลฝุ่นทุก ๆ ชั่วโมง

ใส่ข้อมูลสมมติไว้เซ็นเซอร์ละ 3 ค่า และให้เซ็นเซอร์มีหมายเลขอ้างอิงและข้อมูลประกอบอื่น ๆ (เช่นชื่อสถานที่ เป็นต้น) ด้วย</font>

<font color="red"> สิ่งที่ต้องส่ง </font>
* <font color="red"> วาด ER diagram  </font>
* <font color="red"> code สร้างฐานข้อมูลด้วย python  </font>
* <font color="red"> select ข้อมูลมาโดยการเชื่อมสองตารางให้ดู โดยเอาไปใส่ใน pandas ก่อนแสดงข้อมูลเพื่อให้ดูง่าย  </font>

<font color="red">ส่งเป็น jupyter notebook ใน github โดยให้ใส่ ER diagram เอาไว้ด้วย และให้เขียนอธิบายขั้นตอนให้เรียบร้อยด้วย</font>